<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :ニックネーム %><br />
    <%= f.text_field :nickname %>
  </div>

  <div class="field">
    <%= f.label :Eメール %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
      <%= f.label :氏（全角） %><br />
    <%= f.text_field :family_name %>

  </div>

  <div class="field">
      <%= f.label :名（全角） %><br />
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :氏カナ（全角） %><br />
    <%= f.text_field :first_name_kana %>
  </div>

  <div class="field">
    <%= f.label :名カナ（全角） %><br />
    <%= f.text_field :family_name_kana %>
  </div>
<%#
  <div class="field">
    <%= f.label :都道府県 %>
    <%# <br /> %>
    <%# <%= f.email_field :prefecturecode %>
  <%# </div> %> 

  <div class="field">
    <%= f.label :市区町村 %><br />
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :番地 %><br />
    <%= f.text_field :house_number %>
  </div>

  <div class="field">
    <%= f.label :建物名 %><br />
    <%= f.text_field :building_name %>
  </div>

  <div class="field">
    <%= f.label :電話 %><br />
    <%= f.telephone_field :phone_number %>
  </div>

  <div class="field">
    <%= f.label :生年月日 %><br />
    <%= f.text_field :birth_date %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
