.main
  .main__content
    .main__content__itembox
      %h3.main__content__itembox__name
        = @item.name

      .main__content__itembox__body
        = image_tag @images.first.url.url
      .main__content__itembox__type
        %section.imagebox
          - @images.each do |image|
            = image_tag image.url.url
      .main__content__itembox__price
        .product_price
          ¥
          = @item.price
        .price_tax
          %p (税込み)送料込み
      .main__content__itembox__description
        = @item.introduction

      .main__content__itembox__table
        .main__content__itembox__table__collection
          .tr
            .th 出品者
            .tb 
              = @item.seller.nickname
          .tr
            .th カテゴリー
            .tb 
              = link_to "#{@category_parent.name}","#"
              %br
              = link_to "#{@category_child.name}","#"
              %br
              = link_to "#{@category_grandchild.name}","#"
          .tr
            .th ブランド
            .tb 
              = @item.brand.name
          .tr
            .th 商品状態
            .tb 
              = @item.item_condition.name
          .tr
            .th 配送料の負担
            .tb 
              = @item.postege_payer.name
          .tr
            .th 配送の方法
            .tb 
              = @item.postage_tyep.name
          .tr
            .th 配送までの日数
            .tb 
              = @item.preparation_day.name
              
      .main__content__itembox__optional
        .main__content__itembox__optional__favorite
          %i.fa.fa-star
          %ul お気に入り
        .optional_report
          %i.fa.fa-flag
          %ul 不適切な商品の通報

      .item-buy__btn__box
        - if user_signed_in? && current_user.id ==@item.seller_id
          = link_to "削除する", item_path(@item.id), method: :delete,class:"item-details-delete__btn"
          = link_to "編集する", edit_item_path(@item.id), method: :get,class:"item-details-edit__btn"
        - elsif @item.buyer_id.present?
          = link_to "売り切れました","#",class:"disabled-button bold"
        - else
          = link_to "購入画面に進む",item_buyers_path(@item),class:"item-purchase__btn"
      .main__content__itembox__comment
        .main__content__itembox__comment__form

        .main__content__itembox__comment__notes
          %p 相手のことを考え丁寧なコメントを心がけましょう。
          %p 不快な言葉遣いなどは利用制限や退会処分となることがあります。
        .main__content__itembox__comment__btn
          %i.fa.fa-comment
          %p コメントする
  .main__content__links
    %p 前の商品
    %p 後ろの商品

  .main__content__relatedItems
    %h3.main__content__relatedItems__category 
      カテゴリーをもっとみる
    .main__content__itemslist
      = link_to image_tag("a001.png", class: "imageslist", alt: "サンプル画像")
      .itemslist_body
        %h3.itemslist_body__name
          商品名
        .itemslist_body__price
          ￥500
          .icon
            %i.fa.fa-star
        .itemslist_body__tax
          (税込み)

= render"home/purchaseBtn"