<!DOCTYPE html>
<html>
  <head>
    <title>FleamarketSample79b</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header__bar">
        <div class="header__logo">
          ロゴ
        </div>
        <div class="header__title">
          FURIMA
        </div>
        <%= link_to "カテゴリ", root_path, class: "get" %>
        <%= link_to "ブランド", root_path, class: "get" %>
        <% if user_signed_in? %>
          <%= link_to "マイページ", root_path, class: "get" %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "ログイン", new_user_session_path, method: :get %>
          <%= link_to "新規登録", new_user_registration_path, method: :get %>
        <% end %>
      </div>
    </header>
    <%= %>
    <%= yield %>
  </body>
</html>
